html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    border-bottom: 1px solid #59ABF1;
    padding: 20px 10px;
    overflow: hidden;
    background-color: #0E5694;

}
#website{
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    font-size: 3em;   
    text-decoration: none;
}

.header-right{
color: white;
text-align: center;
padding: 12px;
font-size: 2em;
text-decoration: none;
margin: 12px;
}

#link{
    color: white;
}


.header a:hover{
    background-color: red;
    color: white;
    text-decoration: none;
    padding: 12px;
}

.header a:active {
  background-color: dodgerblue;
  color: white;
    text-decoration: none;

}

/*bookmark-content*/

.bookmark-content{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*about*/

.about-dogo{
    height: 280px;
    width: auto;
}

/*contact*/

.contact-img{
    height: 120px;
    width: auto;
}

#contact-number{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.6em;
}

#git-hub-contact:link {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:black;
    font-size: 1.8em;
    text-decoration: none;
}

#git-hub-contact:hover {
    color: red;
    padding: 3px;
}

#git-hub-contact:active{
    color: blueviolet;
}




/* responsive */
@media screen and (max-width: 1200px) {
#website {
    float: none;
    display: block;
    text-align: center;
    font-size: 4em;
  }
  
.header-right, .przydatne-linki{
    float: none;
    margin-left: auto;
    margin-right: auto;
    font-size: 2.9em;
   padding: 20px;
  }
.kotel {
    display: block;
    float: none;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}
.header a:hover{
    color: black;
    text-decoration: none;

}
.header a.active {
  background-color: dodgerblue;
  color: white;
    text-decoration: none;

}

.lorem{
    padding-bottom: 150px;  
}

.footer{
    font-size: 2.5em;
    padding-bottom: 25px;
    padding-top: 20px;
}

.about-dogo{
    height: 420px;
    width: auto;
}


.bookmark-content{
    font-size: 1.7em;
}

.contact-img{
    height: 130px;
}

}