html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    border-bottom: 1px solid #59ABF1;
    padding: 20px 10px;
    overflow: hidden;
    background-color: #0E5694;

}
#website{
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    font-size: 24px;    
}

.header-right{
float: right;
color: white;
text-align: center;
padding: 12px;
font-size: 18px;
text-decoration: none;
margin: 12px;
}

#link{
    color: white;
}


.header a:hover{
    background-color: red;
    color: white;
    text-decoration: none;
    padding: 12px;

}
.header a.active {
  background-color: dodgerblue;
  color: white;
    text-decoration: none;

}


/*content*/

.kotel{
    float: left;
    padding: 15px;
}
.lorem{
    font-style: italic;
    font-size: 1.2em;
    padding: 55px;  
}
.przydatne-linki{
    height: 12em;
    width: 17em;
    border: 1px black solid;
    float: right;
    
}
.przydatne-linki{
    font-size: 1.1em;
    text-align: center;
}
#linki{
    font-weight: bold;
    font-style: italic;
    font-size: 1.6em;
}


.przydatne-linki a:link{
    color: blue;
    background-color: transparent;
    text-decoration: none;
}
.przydatne-linki a:hover{
    color: red;
text-decoration: underline;
}

.przydatne-linki a:visited{
    color: purple;
}
.przydatne-linki a:active{
    color: aqua;
text-decoration: underline;
}



/* footer */

.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color:  #0E5694;
    padding: 5px;
    font-weight: bold;
    font-size: 1.1em;
    color:white;
}
.footer-button {
    background-color: rgb(224, 22, 46);
    border: none;
    color: white;
    padding: 5px;
    font-size: 0.9em;
}


#git-hub-logo {
    float: right; 

}





/* responsive */
@media screen and (max-width: 1200px) {
#website {
    float: none;
    display: block;
    text-align: center;
    font-size: 4em;
  }
  
.header-right, .przydatne-linki{
    float: none;
    margin-left: auto;
    margin-right: auto;
    font-size: 2.9em;
   padding: 20px;
  }
.kotel {
    display: block;
    float: none;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}
.header a:hover{
    color: black;
    text-decoration: none;

}
.header a.active {
  background-color: dodgerblue;
  color: white;
    text-decoration: none;

}

.lorem{
    padding-bottom: 150px;  
}

.footer{
    font-size: 2.5em;
    padding-bottom: 25px;
    padding-top: 20px;
}

#git-hub-logo {
    display: block;
    float: right;
    padding-top: 9px;
    padding-bottom: 10px;
    width: 130px;
    background-color: white;
   
}


}